<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let link of NavLinks">
        <ng-container *ngIf="link.if === 'basic'">
          <a mat-list-item routerLink="{{ link.link }}">
            {{ link.title }}
          </a>
          <hr />
        </ng-container>
        <ng-container *ngIf="link.if === 'multi'">
          <h3 matListItemTitle>{{ link.main_titil }}</h3>
          <a
            mat-list-item
            *ngFor="let btns of link.btns"
            [matMenuTriggerFor]="classes"
          >
            {{ btns.title }}
          </a>
          <mat-menu #classes="matMenu">
            <a
              mat-list-item
              *ngFor="let sub_btn of link.sub_btns"
              routerLink="{{ sub_btn.link }}"
            >
              {{ sub_btn.title }}
            </a>
          </mat-menu>
          <hr />
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="home"><span>DnD-app</span></a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
